:root{
  /* Layout */
  --mobile: 375px;
  --desktop: 1440px;

  /* Colors */
  --soft-blue: rgb(83, 104, 223);
  --soft-red: rgb(250, 87, 87);
  --soft-gray: rgb(218, 218, 218);
  --gray: rgb(145, 148, 161);
  --dark: rgb(37, 43, 70);
  --neutral: white;

  /* Typo */
  --fs: 18px;
  --ff: 'Rubik', sans-serif;
  --w400: 400;
  --w500: 500;
}
body{
  font-family: var(--ff);
  font-size: var(--fs);
  color: var(--dark);
}
p{
  color: var(--gray);
}
.ease{
  transition: all ease 0.2s;
}
/* Navigation */
.navbar-nav{
  align-items: center;
}
.navbar-light .navbar-nav .nav-link{
  color: var(--dark);
  margin: 0 0.4rem;
  text-transform: uppercase;
  font-family: var(--ff);
  font-size: 0.8em;
  padding: 0.5rem;
  letter-spacing: 2px;
}
.navbar-light .navbar-nav .nav-link:hover{
  color: var(--soft-red);
}
.navbar-light .navbar-nav .nav-link.active{
  background: var(--soft-red);
  color: var(--neutral);
  border: 2px solid transparent;
  border-radius: 0.25rem;
  padding: 0.5rem 1.7rem;
  margin-left: 2rem;
}
.navbar-light .navbar-nav .nav-link.active:hover{
  background: transparent;
  color: var(--soft-red);
  border: 2px solid var(--soft-red);
}
.navbar-toggler{
  outline: 0 !important;
}

/* Content Home */
.home__content{
  align-items: center;
}
.home__content__text p{
  color: var(--gray);
  font-weight: var(--w400);
}
.btn-default{
  background: var(--soft-gray);
  color: var(--dark);
  border: 2px solid transparent !important;
  padding: 10px 20px;
  border-radius: 4px;
  border: 0;
}
.btn-default:hover{
  background: transparent;
  color: var(--dark);
  border: 2px solid var(--dark) !important;
}
.btn-active{
  background: var(--soft-blue);
  color: var(--neutral);
  border: 2px solid transparent !important;
  padding: 10px 20px;
  border-radius: 4px;
  margin-right: 6px;
  border: 0;
}
.btn-active:hover{
  background: transparent;
  color: var(--soft-blue);
  border: 2px solid var(--soft-blue) !important;
}
/* Features content */
.features__content .nav-pills .nav-link{
  color: var(--gray);
  padding: 1.4em 2em;
  border-radius: 0;
  border-bottom: 2px solid var(--soft-gray);
}
.features__content .nav-pills .nav-link.active{
  color: var(--dark);
  background: transparent;
  border-bottom: 2px solid var(--soft-red);
}

/* Responsive */
@media screen and (max-width: 991px){
  /* menu */
  .navbar-light .navbar-nav .nav-link.active{
    margin-left: 0;
  }
  /* content home */
  .home__content div:first-child{
    order: 2;
    text-align: center;
  }
  .home__content div:last-child{
    order: 1;
  }
  /* Features */
  .features__content{
    text-align: center;
  }
}
@media screen and (max-width: 768px){
  .features__content .nav-pills{
    flex-direction: column;
  }
}