:root {
  /* Layout */
  --mobile: 375px;
  --desktop: 1440px;

  /* Colors */
  --soft-blue: rgb(83, 104, 223);
  --soft-red: rgb(250, 87, 87);
  --soft-gray: rgb(218, 218, 218);
  --gray: rgb(145, 148, 161);
  --dark: rgb(37, 43, 70);
  --neutral: white;

  /* Typo */
  --fs: 18px;
  --ff: "Rubik", sans-serif;
  --w400: 400;
  --w500: 500;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--ff);
  font-size: var(--fs);
  color: var(--dark);
}
p {
  color: var(--gray);
}
.btn.focus, .btn:focus{
  box-shadow: 0 0 0 0 transparent;
}
.ease {
  transition: all ease 0.2s;
}
/* Navigation */
.navbar{
  padding: 0.5rem 0;
}
.navbar-nav {
  align-items: center;
}
.navbar-light .navbar-nav .nav-link {
  color: var(--dark);
  margin: 0 0.4rem;
  text-transform: uppercase;
  font-family: var(--ff);
  font-size: 0.8em;
  padding: 0.5rem;
  letter-spacing: 2px;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: var(--soft-red);
}
.navbar-light .navbar-nav .nav-link.active {
  background: var(--soft-red);
  color: var(--neutral);
  border: 2px solid transparent;
  border-radius: 0.25rem;
  padding: 0.5rem 1.7rem;
  margin-left: 2rem;
}
.navbar-light .navbar-nav .nav-link.active:hover {
  background: transparent;
  color: var(--soft-red);
  border: 2px solid var(--soft-red);
}
.navbar-toggler {
  outline: 0 !important;
}

/* Content Home */
.home__content {
  align-items: center;
}
.home__content__text p {
  color: var(--gray);
  font-weight: var(--w400);
}
.btn-default {
  background: var(--soft-gray);
  color: var(--dark);
  border: 2px solid transparent !important;
  padding: 10px 20px;
  border-radius: 4px;
  border: 0;
}
.btn-default:hover {
  background: transparent;
  color: var(--dark);
  border: 2px solid var(--dark) !important;
}
.btn-active {
  background: var(--soft-blue);
  color: var(--neutral);
  border: 2px solid transparent !important;
  padding: 10px 20px;
  border-radius: 4px;
  margin-right: 6px;
  border: 0;
}
.btn-active:hover {
  background: transparent;
  color: var(--soft-blue);
  border: 2px solid var(--soft-blue) !important;
}
/* Features content */
.features__content .nav-pills .nav-link {
  color: var(--gray);
  padding: 1.4em 2em;
  border-radius: 0;
  border-bottom: 2px solid var(--soft-gray);
}
.features__content .nav-pills .nav-link.active {
  color: var(--dark);
  background: transparent;
  border-bottom: 2px solid var(--soft-red);
}
/* Extension content */
.extension__content div:nth-child(2) article {
  margin-top: 3rem;
}
.extension__content div:last-child article {
  margin-top: 6rem;
}
/* Questions content */
.questions .card{
  border-left: 0;
  border-right: 0;
  border-radius: 0;
}
.questions .card .card-header{
  background-color: transparent;
}
.questions .card .btn{
  position: relative;
}
.questions .card .btn:hover{
  color: var(--soft-red);
}
.questions .card .btn::before{
  content: "";
  background: url("../images/icon-arrow.svg") no-repeat center;
  background-size: contain;
  width: 1rem;
  height: 1rem;
  vertical-align: middle;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
/* Call to action */
.call-to-action{
  background: var(--soft-blue);
  color: var(--neutral);
}
.call-to-action p{
  color: var(--neutral);
}
.call-to-action__btn{
  background: var(--soft-red);
  border: 0;
  color: var(--neutral);
  width: 100%;
  border-radius: 4px;
  padding: 0.375rem 0.75rem;
}
/* Footer */
footer{
  background: var(--dark);
  color: var(--neutral);
}
footer nav{
  margin-left: 3rem;
}
footer a{
  color: var(--neutral);
}
footer a:hover{
  text-decoration: none;
  color: var(--soft-red);
}
.brand img{
  filter: invert(1);
}

/* Responsive */
@media screen and (max-width: 991px) {
  /* menu */
  .navbar-light .navbar-nav .nav-link.active {
    margin-left: 0;
  }
  /* content home */
  .home__content div:first-child {
    order: 2;
    text-align: center;
  }
  .home__content div:last-child {
    order: 1;
  }
  /* Features */
  .features__content {
    text-align: center;
  }
  /* Extension */
  .extension__content div article {
    margin-top: 0 !important;
  }
}
@media screen and (max-width: 768px) {
  .features__content .nav-pills {
    flex-direction: column;
  }
  footer .d-flex{
    flex-direction: column;
  }
  footer nav{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-left: 0;
    text-transform: uppercase;
    margin: 2rem 0;
  }
}

@media screen and (max-width: 576px) {
  /* Home */
  .home__content button {
    display: block;
    width: 100%;
    margin: 10px 0;
  }
  /* Extension */
  .extension__content button {
    font-size: 0.8em;
  }
}
